   --- AUTHENTICATION ---
   TAPO_USERNAME= 'email@domain.com'
   TAPO_PASSWORD= 'password'

   --- NETWORK ---
   TAPO_P300_IP='192.168.xx.xxx'

   --- CONFIG ---
   BATTERY_LOW_THRESHOLD= xx
   BATTERY_HIGH_THRESHOLD= xx